<div class="box">
  <span class="borderLine"></span>
  <form [formGroup]="_numberForm" (ngSubmit)="generateNumber()">
    <h2>Random Number</h2>
    <mat-form-field appearance="fill">
      <mat-label>Favorite Number</mat-label>
      <mat-select formControlName="favoriteNumber">
        <mat-option *ngFor="let num of _numbers" [value]="num">{{ num }}</mat-option>
      </mat-select>
      <mat-error *ngIf="_numberForm.get('favoriteNumber')?.hasError('required')">
        Favorite number is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Number Length</mat-label>
      <input matInput type="number" formControlName="numberLength" />
      <mat-error *ngIf="_numberForm.get('numberLength')?.hasError('required')">
        Number length is required.
      </mat-error>
      <mat-error *ngIf="_numberForm.get('numberLength')?.hasError('min')">
        Minimum length is 1.
      </mat-error>
    </mat-form-field>
    <button type="submit" class="top-down">
      <span>Generate</span>
    </button>
    <div *ngIf="_generatedNumber" class="output">
      <hr>
      <strong>
        Your random number is:
      </strong>
      <p> {{ _generatedNumber }}</p>
    </div>

  </form>
</div>